.Acontainer {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 60px;
}

.Bcontainer {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 60px;
}

.Ccontainer {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 60px;
}

.Dcontainer {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 60px;
}

.Econtainer {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 60px;
}

.Fcontainer {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 60px;
}

