body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://stmed.net/sites/default/files/ouija-board-wallpapers-28784-1401778.jpg') no-repeat center center fixed;
  -webkit-background-size: 99% 99%;
  -moz-background-size: 99% 99%;
  -o-background-size: 99% 99%;
  background-size: 99% 99%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

